<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["BlazoriseRichTextEditor.styles.css"]" />
    @* Blazorise/Bootstrap/FontAwesome CSS and opstream-quill-adapter.js are now
       provided by the RichTextEditorDemo component (BlazoriseRichTextEditor.View
       RCL) via <HeadContent> + dynamic import. *@
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
